<!-- Password entry page -->
<div class="row">
    <div class="col-sm-4">
        <h3>Enter Password</h3>
        <p>
            Enter a username/password combo. First login creates the user, 
            and subsequent attempts to log in are subjected to cross-referencing
            of the input password.
        </p>
        <p>
            <strong>do not</strong> use real login information here. This 
            application is not suitable for production as-is -- it is simply a 
            proof of concept.
        </p>

        <!-- Login form -->
        <form ng-submit="login()">
            <div class="form-group">
                <input type="text" class="form-control" 
                    placeholder="username" ng-model="username"/>
            </div>

            <div class="input-group">
                <!-- Collect metadata along with the password -->
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="password" 
                    ng-model="password"
                    ng-keypress="collect_md($event)"
                    />

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" 
                        ng-click="signup()">
                        New User
                    </button>
                    <button class="btn btn-success" type="submit">
                        Login
                    </button>
                </span>
            </div>
        </form>

        <div class="alert alert-danger" style="margin-top:1em;">
            <strong>ALERT:</strong> Alerts go here
        </div>
    </div>
    <div class="col-sm-8">
        <h3>Password Data</h3>

        <div>
            <h4>Attempt 1</h4>
            <div class="progress">

                <div 
                    ng-repeat="dt in md_keystroke_times"
                    class="progress-bar progress-bar-{{$index%2==0 ? 'info' : 'default'}}"
                    style="width: {{(dt.time/md_keystroke_time_sum)*100}}%"
                    >
                    {{dt.time}}
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            Info regarding password metadata gets displayed here as the user
            types.
        </div>

        <h3>How it Works</h3>

        <p>
            When you input login data, this application collects information
            about the way in which the password is entered. This includes
            time between keystrokes and number of backspaces used. The 
            application also keeps track of unsuccessful login attempts. 
            This information is sent to the server alongside the traditional
            login information.
        </p>

        <p>
            On the backend, the password is hashed using bcrypt, and if 
            it is found to be correct, the password metadata is compared with
            the user's metadata fingerprint, ie. the mean of all previous 
            login attempts wherin each point is analyzed for standard deviation
            from the computed mean. If this fails, then the login attempt fails, 
            and the current metadata is thrown out. Otherwise the login attempt
            succeeds, and the metadata is recorded for use future attempts.
        </p>

        <p>
            The reason for doing this is that it can potentially prevent someone
            from simply stealing your password and inputting it, since doing so
            in this system would require the attacker to know not only the 
            password, but also the way in which the password is typed in by 
            a legitimate user. This system is also invisible to the user, since
            it takes several points of data to become active, and since the 
            system is sensitive to subtle changes in the user's login pattern
            over time -- incorporating successful login attempts into the 
            metadata fingerprint.
        </p>
    </div>
</div>